<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:\Users\Amin\Desktop\test_technique\style\style.css">
    <title>Acceuil</title>
</head>
<style>
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "FreeMono", monospace;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgb(116, 102, 236) 0%, rgb(29, 60, 210) 67%);
}

h2{
    align-items: center;
    justify-content: center; 
    flex-direction: column;
    padding: 10px 30px;
    position: absolute;
    top: 180px;
    color: aliceblue;
    font-size:35px;
    font-weight: 100;
}

#wrapper {
    display: table-cell;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    padding: 40px;
    width: 60%;
    max-width: 500px;
  }

  input{
    border-radius: 5px;
    padding: 10px 30px;
    margin: 6px;
    
  }

  #button{
    background-color: #227aff;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    padding: 10px 30px;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-bottom: 15px;
  }
  #button:hover {
    transform: translateY(-2px);
    background-color: #39a6ff;
  }
  #button:active {
    transform: translateY(2px);
    background-color: #2922ff;
  }
  .erreur{
    color: red;
  }
</style>
<body>
    <h2>Acceuil</h2>
    <div id="wrapper">
    <a href="/users">Liste des utilisateurs</a>
    </div>
</body>
</html>